/* Page global style */

* {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.site-header {
    padding: 0.8em 1em;
    border-bottom: 0.125em solid black;
}

.site-header-background-group {
    display: grid;
}

.site-header-section-container {
    display: flex;
    justify-content: space-between;
}

.site-header-section-container {
    grid-column: 1;
    grid-row: 1;
}

.site-header-section-name {
    font-size: 18pt;
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
}

.site-header-section {
    display: flex;
    align-items: center;
}

.site-header-section-icon {
    width: 24px;
    height: 24px;
}

/* Footer style */

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.8em 1em;
    border-top: 0.125em solid black;
}

.site-footer-background-group {
    display: grid;
}

.site-footer-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site-footer-section-container {
    grid-column: 1;
    grid-row: 1;
}

.site-footer-section-name {
    font-size: 18pt;
}

.site-footer-section {
    align-items: center;
}

.site-footer-section-icon {
    width: 24px;
    height: 24px;
}

/* Page body styles */

.page-body-view {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.5em 0;
}

.product-pick-up-form {
    grid-column: 2;
}

.product-list-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1em;
    align-items: center;
}

.product-list-item-name, .product-list-item-price {
    font-weight: 600;
}

.product-list-item-price {
    text-align: end;
}

.product-pick-up-form-contents {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.product-pick-up-form-submit-button {
    align-self: flex-end;
    padding: 0.6em 2em;
    font-weight: 400;
    width: 15%;
}

.purchase-receipt-table {
    grid-column: 2;
}

.purchase-receipt-table, .purchase-receipt-table-row-header, .purchase-receipt-table-row-data, .purchase-receipt-table-row-data-centered {
    border: 1px solid black;
    border-collapse: collapse;
}

.purchase-receipt-table-row-data, .purchase-receipt-table-row-header {
    padding: 1em;
}

.purchase-empty-cart-placeholder {
    grid-column: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.purchase-empty-cart-placeholder > a, .purchase-empty-cart-placeholder > p {
    text-align: center;
}

.purchase-receipt-table-row-data-centered {
    text-align: center;
    vertical-align: middle;
}

.purchase-receipt-table-delete-button {
    width: 48px;
    height: 48px;
    padding: 4px;
    align-self: center;
}

.purchase-receipt-table-delete-button-icon {
    width: 24px;
    height: 24px;
}

/* Login page styling */

.login-text-edit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-between;
}

.login-form-frame {
    border: darkgrey 0.125em solid;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 2.5em 4em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 33.3%;
}

.login-text-edit-container-item {
    font-size: 14pt;
    padding: 0.75em 0.5em;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.login-submit-button {
    padding: 0.5em 0.75em;
    font-size: 14pt;
    align-self: flex-end;
    width: 33.3%;
}

.login-submit-button:hover {
    cursor: pointer;
}

.login-required-alert-message {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
    font-weight: bold;
}

.profile-settings-content {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    gap: 2em;
}

.profile-setup-section {
    flex: 3 1 0;
}

.profile-setup-personal-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.profile-setup-personal-info-component {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 0.6em;
}

.profile-setup-personal-info-component-label {
    text-decoration: underline;
    color: dodgerblue;
    font-weight: bold;
}

.profile-settings-submit-button {
    padding: 0.25em 2em;
    font-size: 14pt;
}

.profile-setup-actions-row {
    display: flex;
    flex-direction: row-reverse;
}

.profile-upload-photo-section {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-width: 48px;
    min-height: 48px;
    max-width: 256px;
    gap: 2em;
}

.profile-settings-photo, .profile-settings-upload-button {
    width: 100%;
    align-self: center;
}

.profile-settings-upload-button {
    padding: 0.25em 2em;
    font-size: 14pt;
}
