/* Page global style */

* {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.site-header {
    padding: 0.8em 1em;
    border-bottom: 0.125em solid black;
}

.site-header-background-group {
    display: grid;
}

.site-header-section-container {
    display: flex;
    justify-content: space-between;
}

.site-header-section-container, .site-header-section-separators {
    grid-column: 1;
    grid-row: 1;
}

.site-header-section-separators {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site-header-section-name {
    font-size: 18pt;
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
}

.site-header-section {
    align-items: center;
}

.site-header-section-icon {
    width: 24px;
    height: 24px;
}

/* Footer style */

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.8em 1em;
    border-top: 0.125em solid black;
}

.site-footer-background-group {
    display: grid;
}

.site-footer-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site-footer-section-container, .site-footer-section-separators {
    grid-column: 1;
    grid-row: 1;
}

.site-footer-section-separators {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site-footer-section-name {
    font-size: 18pt;
}

.site-footer-section {
    align-items: center;
}

.site-footer-section-icon {
    width: 24px;
    height: 24px;
}

/* Page body styles */

.page-body-view {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.5em 0;
}

.product-pick-up-form {
    grid-column: 2;
}

.product-list-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1em;
    align-items: center;
}

.product-list-item-name, .product-list-item-price {
    font-weight: 600;
}

.product-list-item-price {
    text-align: end;
}

.product-pick-up-form-contents {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.product-pick-up-form-submit-button {
    align-self: flex-end;
    padding: 0.6em 2em;
    font-weight: 400;
    width: 15%;
}

.purchase-receipt-table {
    grid-column: 2;
}

.purchase-receipt-table, .purchase-receipt-table-row-header, .purchase-receipt-table-row-data, .purchase-receipt-table-row-data-centered {
    border: 1px solid black;
    border-collapse: collapse;
}

.purchase-receipt-table-row-data, .purchase-receipt-table-row-header {
    padding: 1em;
}

.purchase-empty-cart-placeholder {
    grid-column: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.purchase-empty-cart-placeholder > a, .purchase-empty-cart-placeholder > p {
    text-align: center;
}

.purchase-receipt-table-row-data-centered {
    text-align: center;
    vertical-align: middle;
}

.purchase-receipt-table-delete-button {
    width: 48px;
    height: 48px;
    padding: 4px;
    align-self: center;
}

.purchase-receipt-table-delete-button-icon {
    width: 24px;
    height: 24px;
}
